.passwordResetContent{ padding: 80px 70px 50px;}
.passwordResetContent .subText{margin-bottom: 35px; text-align: center;  font-size: 20px;}
.passwordResetContent .inputBox{margin-bottom: 30px;}
.passwordResetContent .inputBox label{margin-bottom: 10px;}
.passwordResetContent .required{color: #F80808;}

@media (max-width: 1199px){

  .passwordResetContent{ padding: 45px 20px 50px;}
  .passwordResetContent .subText{font-size: 16px;}

}