.popupWrap{ position: fixed; top:0; left:0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.86); z-index: 99999;}
.popupWrap .popupBox{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 40px 35px 50px; max-width: 492px; width: 90%; max-height: 90%; background-color: #fff; border-radius: 10px; overflow-y: auto;}
.popupWrap .popupBox h3{margin-bottom: 48px; color: #090A0A; font-weight: 700; font-size: 20px;}
.popupWrap .popupBox .popupSelect{margin-bottom: 22px; width: 100%;}
.popupWrap .popupBox .popupTextarea{padding: 25px 20px 30px 16px ; margin-bottom: 34px; width: 100%; height: 304px;}
.imageUpload {display: flex; justify-content: space-between;  gap: 10px; margin-bottom: 30px;}
.imageUpload .infotext{font-size: 14px; font-weight: 500; color: #6C7072;} 
.imageUpload .uploadButton {display: inline-block; margin-bottom: 18px; height: 36px; border-radius: 4px; background-color: #fff;
  color: #313131;  padding: 8px 12px; border-radius: 5px; border: 1px solid #E9E9E9;
  cursor: pointer; font-size: 14px; box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.imageUpload .imagePreview {display: flex; align-items: center; gap: 20px; margin-top: 20px; width: 138px; height: 131px; border-radius: 5px; overflow: hidden;}
.imageUpload .previewImage {display: block; width: 100%; height: 100%; }
.closeBtn{position: absolute; top:0; right:0;}
.popupWrap .popupBox .closeBtn{width: 20px; height: 20px; position: absolute; top:32px; right:42px; background: url(../assets/images/sub/close_btn_icon.svg)no-repeat center;}
.popupWrap .box{margin-bottom: 38px;}
.popupWrap .box .label,
.popupWrap .box h4{display: block; margin-bottom: 12px; font-size: 16px; font-weight: 500; color: #090A0A;} 
.popupWrap .chatTypeOptions{display: flex; gap: 0 72px;}
.popupWrap .customRadio {display: inline-block; position: relative; padding-left: 40px;   cursor: pointer; font-weight: 500; color: #090A0A;}
.popupWrap .customRadio::before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 22px; height: 22px; border: 2px solid #cdcfD0;  border-radius: 50%; background-color: white; transition: background-color 0.3s, border 0.3s;}
.popupWrap input[type="radio"]:checked + .customRadio::before {background-color: black; border: none;}
.popupWrap input[type="radio"]:checked + .customRadio::after {content: ''; position: absolute;
  top: 8px; left: 7px; width: 8px; height: 8px; border-radius: 50%; background-color: white;}
.popupWrap .radioOption {display: flex; align-items: center; margin-right: 20px;}
.popupWrap .radioOption span {font-size: 14px; margin-left: 10px;}

@media (max-width: 480px){

  .popupWrap .chatTypeOptions{flex-direction: column; gap: 20px;}

}


